* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-color: #0d3e48;
  --main-color: #076376;
  --secondary-color: rgb(32, 158, 175);
  --text-color: #cbf3f7;
}
body {
  width: 100%;
  min-height: 100vh;
  padding-top: 8%;
  background: rgb(23, 155, 173);
  background: linear-gradient(
    0deg,
    rgba(23, 155, 173, 1) 0%,
    rgba(212, 242, 246, 0.9921218487394958) 79%
  );
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#player, .play-list {
  width: 300px;
  height: 510px;
  border-radius: 5px;
  box-shadow: 3px 5px 10px 5px rgba(98, 153, 199, 0.5);
  padding: 10px 10px 30px;
  background-color: var(--dark-color);
}

#player-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 5px 15px;
}
h1{
  font-size: 1.2rem;
  color: var(--text-color);
}
.button.side .fa-bars{
  font-size: 1rem;
}
#song-image {
  width: 90%;
  height: 250px;
  background: linear-gradient(
    120deg,
    var(--secondary-color) 4%,
    var(--main-color) 70%,
    var(--dark-color) 100%
  );
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#image{
  display: block;
  width: 170px;
  height: 170px;
}
#song-name {
  margin-bottom: 20px;
}

#song-title {
  text-align: center;
  color: var(--text-color);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 15px;
}
#song-album {
  width: 90%;
  height: 0.5px;
  background-color: rgb(122, 163, 199);
  position: relative;
  margin: 0 auto 15px;
}

#song-album span {
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--dark-color);
  font-size: 0.8rem;
  padding: 0 10px;
  color: var(--text-color);
  letter-spacing: 1px;
  white-space: nowrap;
}
#song-artist {
  font-size: 0.7rem;
  color: var(--text-color);
  text-align: center;
  letter-spacing: 1px;
}
#song-tracking {
  width: 90%;
  height: 20px;
  border-radius: 5px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.song-tracking-duration{
  color: var(--text-color);
  margin: 0 10px;
  font-size: 0.7rem;
}
input[type='range'] {
  appearance: none;
  background-color: var(--main-color);
  border-radius: 10px;
}
#duration{
  width: 70%;
  height: 10px;
}
#volume-change{
  width: 100%;
  height: 7px;
  transform: rotate(0deg);
  background-color: var(--secondary-color);
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  cursor: grab;
  background: var(--text-color);
  border-radius: 50%;
}
input[type='range']:active::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: grabbing;
}
#duration::-webkit-slider-thumb{
  width: 15px;
  height: 15px;
}
#volume::-webkit-slider-thumb{
  width: 10px;
  height: 10px;
}

#player-buttons {
  width: 90%;
  height: 40px;
  margin: 0 auto;
  background: var(--secondary-color);
  background: linear-gradient(
    120deg,
    var(--dark-color) 4%,
    var(--main-color) 30%,
    var(--secondary-color) 100%
  );
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
#volume-area{
  position: absolute;
  bottom: 67px;
  left: -25px;
  width: 100px;
  height: 20px;
  padding: 5px;
  background-color: var(--main-color);
  border-radius: 5px;
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.button:hover{
  box-shadow: 0 0 5px 2px var(--main-color);
}
.button:active{
  transform: scale(0.9);
}

.button:not(.side) {
  background-color: var(--dark-color);
}
.button i {
  color: var(--text-color);
  font-size: 0.8rem;
}

.button.hide, #volume-area.hide, .fa-solid.hide{
  display: none;
}


.play-list{
  padding: 0;
  width: 0;
  transition: 0.5s;
  overflow: hidden;
}
.open-list{
  width: 300px;
}

#play-list-header{
  width: 100%;
  height: 40px;
  background: linear-gradient(
    120deg,
    var(--dark-color) 2%,
    var(--main-color) 40%,
    var(--secondary-color) 100%
  );
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 20px;
}

.button.side .fa-xmark{
  font-size: 1rem;
}


